[init]
	defaultBranch = main
[user]
	email = langer.jaros@gmail.com
	name = Jaroslav Langer
[core]
	editor = nvim
[diff]
	wsErrorHighlight = all
	tool = nvimdiff
[difftool "nvimdiff"]
	cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
