[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[core]
	editor = nvim
	whitespace = tab-in-indent
[diff]
	tool = nvimdiff
[difftool "nvimdiff"]
	cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[merge]
	tool = nvimdiff
[mergetool]
	prompt = false
#	keepBackup = false
[mergetool "nvimdiff"]
	layout = "LOCAL,BASE,REMOTE / MERGED"
[mergetool "vscode"]
	cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED
[alias]
	push-restart = push -o ci.variable=\"CONTROL_STRING=restart\"
